pandas 
sqlalchemy 
chromadb 
sentence-transformers 
openpyxl
pypdf
streamlit
requests
chromadb==0.5.23 
langchain-community 
langchain-text-splitters 
gspread 
langchain-core
passlib[bcrypt]
fastapi
uvicorn